body {
    text-align: justify;
}


td.fullLine {
    text-align: center;
    background-color: #999;
}


td.cineLeft {
    text-align: right;
}


td.cineCenter {
    text-align: center;
    font-weight: 700;
}


td.cineRight {
    text-align: left;
}


div.tablebottom th,
div.tablebottom td {
    border-bottom: solid 1px;
    padding: 0.3em;
}
