div.index_whole {
    vertical-align: middle;
    text-align: center;
}


span.leb {
    font-size: 0.66em;
}


@media only screen and (min-width:64em) {

    img {
        max-height: 30mm;
        max-width: 30mm;
    }

}  /** @media only screen and min-width:64em **/
