td {
	border-bottom: solid 1px;
	border-right: solid 1px;
}

th {
	border-right: solid 1px;
}

th.top {
	border-top: solid 1px;
}

th.bot {
	border-bottom: solid 3px;
}

td.x {
	text-align: center;
}

