body {
    text-align: justify;
}


td.fullLine {
    text-align: center;
    background-color: #999;
}


div.tablebottom th,
div.tablebottom td {
    border-bottom: solid 1px;
    padding: 0.3em;
}


li.plus, li.minus {
    text-indent: 0.2em;
}


li.plus::marker, li.minus::marker {
    font-weight: 900;
    font-size: 125%;
}


li.plus::marker {
    content: "+";
}


li.minus::marker {
    content: "-";
}
