body {
    text-align: justify;
}


li.plus, li.minus {
    text-indent: 0.2em;
}


li.plus::marker, li.minus::marker {
    font-weight: 900;
    font-size: 125%;
}


li.plus::marker {
    content: "+";
}


li.minus::marker {
    content: "-";
}
