h1.away, .away, .away a {
    color: #f60;
}


.half {
    height: 50px;
}


.quarter {
    height: 30px;
}


/** TODO not good for mobile **/
div.whole {
    padding-bottom: 0.4em;
    width: 83%;
    margin-left: 13%;
    margin-right: 3%;
}
