div.isbn,
div.title,
div.author,
div.serie,
div.number,
div.publisher,
div.date,
div.summary,
div.language,
div.cat
{
    padding: 7pt 2cm;
}


div.SubButt {
    padding: 7pt 2cm;
    margin-bottom: 2cm;
}
