h3.book_display {
	margin-left : 40mm;
}

div.book_display_table_serie, div.book_display_table {
	margin-left: 4em;
	text-align: center
}

div.csstab64_cell {
	vertical-align: top;
}

table.book_display_table {
	width : 100%;
}

table.book_display_table_serie {
	text-align : center;
}

td.book_display_table_edit, td.book_display_borrow {
	font-size: 8pt;
}

.book_display_author, a.book_display_author, a.book_display_author:focus, a.book_display_author:hover, a.book_display_author:link, a.book_display_author:visited {
	font-style: italic;
	color : #0000ff;
}

td.book_display_table_serie {
	width : 30%;
}

td.book_display_table {
	width : 45%;
}

.away {
	color : #000000;
}

.EditBorrow {
	font-size: 8pt;
	margin-right: 2mm;
	min-width: 55px;
}

.author_link {
	font-style: italic;
}

.flushleft {
	text-align: left;
}

.halfwidth {
	width: 42%;
}

.MainBook {
	max-width: 80%;
}

.BookCell {
	vertical-align: middle;
}

.csstab_cell {
	padding: 2px 0;
}




h2 {
	font-family : "Comic sans MS", fantasy;
	text-align : center;
	font-style : italic;
	margin-bottom : 8mm;
}

div.book_info_lang {
	font-size : 10pt;
	text-align : right;
}

div.book_info_summary {
	margin : 1cm;
	text-align : justify;
}




div.book_new_isbn {
	padding: 7pt 2cm;
}

div.book_new_title {
	padding: 7pt 2cm;
}

div.book_new_author {
	padding: 7pt 2cm;
}

div.book_new_serie {
	padding: 7pt 2cm;
}

div.book_new_number {
	padding: 7pt 2cm;
}

div.book_new_publisher {
	padding: 7pt 2cm;
}

div.book_new_date {
	padding: 7pt 2cm;
}

div.book_new_summary {
	padding: 7pt 3cm;
}

div.book_new_language {
	padding: 7pt 2cm;
}

div.book_new_cat {
	padding: 7pt 2cm;
}

div.book_new_valbut {
	padding: 7pt 2cm;
	margin-bottom: 2cm;
}





table.book_serie_table {
	margin-left: 2cm;
}

td.book_serie_table_edit, td.book_serie_borrow {
	font-size: 8pt;
}

td.book_serie_table_number {
	padding-left: 5px;
}

td.book_serie_table_title {
	padding: 0 13px;
}

td.book_serie_table_author {
	font-style: italic;
}

td.bor1 a {
	color : #ff6600;
}


