div.csstab64_cell {
    vertical-align: top;
}


table.book_serie_table {
    margin-left: 2cm;
}


td.book_serie_table_number {
    padding-left: 5px;
}


td.book_serie_table_title {
    padding: 0 13px;
}
