# Setting the index page
DirectoryIndex index.php

# No one should look in the content of the directory
Options -Indexes

# Redirect on error
ErrorDocument 404 /functions/deadlink.php

Options +FollowSymLinks

RewriteEngine on

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://xonqnopp.ch/$1 [R=301,L]

# Remove leading WWW
RewriteCond %{HTTP_HOST} ^www.xonqnopp.ch [NC]
RewriteRule ^(.*)$ http://xonqnopp.ch/$1 [R=301,L]

# Preventing this file to be read
<Files .htaccess>
order allow,deny
deny from all
</Files>
