## Setting the index page
DirectoryIndex index.php

## No one should look in the content of the directory
Options -Indexes

## Redirect on error
ErrorDocument 404 /functions/deadlink.php

## Add www. if not present
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^xonqnopp.ch [NC]
RewriteRule ^(.*)$ http://www.xonqnopp.ch/$1 [R=301,L]

## Preventing this file to be read
<Files .htaccess>
order allow,deny
deny from all
</Files>
