h1 {
    padding: 0;
    font-size: 1.5em;
}


div.idxquotrand {
    padding: 1em;
}


div.index_testament {
    text-align: center;
    font-size: 2em;
    font-family: serif;
    vertical-align: bottom;
    color: #f60;
}
