div.wide {
    text-align: center;
}


div.csstab64_table img {
    max-width: 100%;
}


div.links {
    padding: 0.5em 0.2em;
}


div.links div {
    padding: 0.5em;
}


td, th {
    padding: 0.5em;
    white-space: nowrap;
}
