@media only screen and (min-width:64em) {

    div.wide {
        padding: 1%;
        width: 97%;
    }


    div.third {
        width: 30%;
    }


    img.width {
        max-width: 500px;
    }

}  /** @media only screen and min-width:64em **/
