div.nice_display_table {
	margin-left : 2cm;
}

table.nice_display_table {
	width : 100%;
}

td.nice_display_table_edit {
	font-size : 8pt;
}

td.nice_display_table {
	width : 45%;
}

div.nice_info_address {
	font-style : italic;
}

.EditBorrow {
	font-size: 8pt;
	margin-right: 2mm;
	min-width: 55px;
}

.author_link {
	font-style: italic;
}

.flushleft {
	text-align: left;
}

.halfwidth {
	width: 42%;
}

.MainBook {
	max-width: 80%;
}

.BookCell {
	vertical-align: middle;
}

.csstab_cell {
	padding: 2px 0;
}


