div.missing_display_table {
	width : 100%;
	text-align : center;
}

table.missing_display {
	margin : auto;
	margin-bottom : 1cm;
}

td.missing_display_name {
	text-align : center;
	font-weight : 700;
	font-size : 16pt;
	padding-bottom : 1mm;
	padding-top : 5mm;
}

td.missing_display_title {
	text-align : left;
	padding : 1mm;
}

td.missing_display_date {
	text-align : left;
	padding : 1mm;
}

tr.missing_wanted,
td.missing_display_name_borrower,
tr.missing_display_borrowed {
	border-style : solid;
	border-width : 2pt;
	border-color : #ffaa88;
	background-color : #ffaa88;
}

td.missing_back {
	font-size : 8pt;
}

div.missing_insert_borrower {
	padding : 3mm 0mm;
}

div.missing_insert_date {
	padding : 3mm 8mm;
}

div.missing_insert_button {
	padding : 3mm 0mm;
}
