div.AllCompanies {
    margin-left: 5%;
    margin-right: 5%;
}


div.cellrank8,
div.cellrank7,
div.cellrank6,
div.cellrank5,
div.cellrank4,
div.cellrank3,
div.cellrank2,
div.cellrank1 {
    border-top: dotted 1px;
}


div.cellrank0 {
    border-top: dashed 2px;
}


span.co9 {font-size: 1.5em;}
span.co8 {font-size: 1.4em;}
span.co7 {font-size: 1.3em;}
span.co6 {font-size: 1.2em;}
span.co5 {font-size: 1.1em;}
span.co4 {font-size: 1.0em;}
span.co3 {font-size: 0.9em;}
span.co2 {font-size: 0.8em;}
span.co1 {font-size: 0.7em;}
span.co0 {font-size: 0.6em;}


span.count {
    font-size: 0.75em;
}


