a.edit {
    font-size: 0.6em;
    vertical-align: middle;
}


div.comco img {
    vertical-align: middle;
}


div.way img,
div.media img,
div.kind img
{
    width: 2em;
}


div.who {
    font-weight: 700;
}


div.csstab64_cell {
    vertical-align: top;
}



@media only screen and (max-width:64em) {

    div.comco div.content {
        border-bottom: dashed 1px;
    }

}  /** @media only screen and MAX-width:64em **/



@media only screen and (min-width:64em) {

    div.comco div.csstab64_cell {
        border-bottom: dashed 1px;
    }

    div.who {
        min-width: 30%;
        text-align: center;
    }

    div.content {
        min-width: 40%;
    }

    div.csstab64_cell {
        padding: 0.3em 0.2em;
    }

}  /** @media only screen and min-width:64em **/
