table {
    width: 100%;
}


table.bd_serie_table {
    margin-left: 2cm;
}


td.bd_serie_edit, td.bd_serie_borrow {
    font-size: 8pt;
}


td.bd_serie_borrow {
    text-align: center;
}


.twenty {
    width: 123px;
}


.ten {
    width: 25px;
    text-align: right;
    padding: 0 5px;
}
