table {
	border: solid 1px;
	margin: auto;
}

@media screen {
	tr:hover {
		background-color: #bbbbbb;
	}

	tr.more {
		display: none;
	}
}

th {
	background-color: #cccccc;
}

th, td {
	border: solid 1px;
}

th.cattitle {
	font-size: 0.7em;
}

div.cattitle {
	/*transform: rotate(-90deg);*/
}

td.title {
	white-space: nowrap;
}

td.minP,
td.maxP,
td.minPmaxP {
	text-align: center;
}

td.age {
	text-align: center;
}


@media print {
	div.lhead,
	div.chead,
	div.rhead {
		display: none;
	}

	td.edit {
		display: none;
	}

	div.timestamp {
		position: fixed;
		bottom: 0;
		width: 100%;
		text-align: center;
		font-size: 0.8em;
	}
}
