# No one should look in the content of the directory
Options +Indexes

# Redirect on error
ErrorDocument 404 /functions/deadlink.php

# Preventing this file to be read
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Allowing PDF
<Files *.pdf>
order allow,deny
allow from all
</Files>

