body {
	z-index: 0;
	color: #000000;
	background-color: #e0f0ff;
}

h1 {
	font-family: "Comic sans MS", sans-serif;
	text-align: center;
	letter-spacing: 3px;
	color: #7040f0;
}

h1.gael {
	margin-top: 0px;
}

.hidden {
	display: none;
}

a.blue {
	color: #0000ff;
	font-size: 10pt;
}

.area {
	font-family: "Times New Roman", serif;
	line-height: 120%;
}

td.orange {
	color: #ff6600;
}




h2#editing {
	position: absolute;
	top: 1%;
	left: 40%;
}





#special, .special {
	font-family: "Comic sans MS", sans-serif;
	margin-top: -20px;
	text-align: center;
	color: #ff0000;
}

div#gael, div.gael {
	width: 100%;
	text-align: center;
	color: #000000;
	background-color: #e0f0ff;
}

.quote {
	text-align: justify;
	line-height: 125%;
	margin-top: 3mm;
	/*width: 70%;*/
	margin-left: 5mm;
}

.author {
	text-align: left;
	font-size: 16pt;
	margin-top: 25pt;
	color: #c00000;
}

.place {
	text-align: right;
	font-style: italic;
	width: 70%;
	color: #00a000;
}

#cats, .cats {
	position: absolute;
	text-align: right;
	right: 20px;
	bottom: 5px;
	height: 60%;
	width: 22%;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 5;
}

#favo, .favo {
	text-align: right;
	position: fixed;
	right: 50px;
	top: 70%;
	z-index: 5;
}

#buttons, .buttons {
	position: fixed;
	top: 22px;
	right: 10px;
	z-index: 5;
}

#new, .new {
	position: fixed;
	top: 4px;
	right: 10px;
	z-index: 5;
}

#toutes, .toutes {
	position: fixed;
	right: 20px;
	top: 62px;
	z-index: 5;
}

.editbutton {
	text-align: right;
	position: relative;
	top: -20px;
	z-index: 1;
}

td.quotab {
	width: 96%;
}

#search, .search {
	position: fixed;
	top: 200px;
	right: 50px;
	z-index: 5;
}

#recherche, .recherche {
	position: fixed;
	top: 55px;
	right: 10px;
	z-index: 5;
}

#random, .random {
	position: fixed;
	top: 39px;
	right: 20px;
	z-index: 5;
}

#keyword, .keyword {
	position: fixed;
	right: 30px;
	top: 220px;
	z-index: 5;
}

.favclass {
	color: #008000;
}

#catplus, .catplus {
	position: fixed;
	right: 20px;
	top: 72px;
	z-index: 5;
}

div#home {
	z-index: 10;
}


@media only screen
and (min-width:64em) {

div.quotationinput,
div.authorinput,
div.authorinput_first,
div.authorinput_last,
div.placeinput,
div.favinput,
div.catsinput {
	padding: 1em;
}

div.authorinput_first,
div.authorinput_last {
	display: inline-block;
}

}
