div.borrower_display_table {
    margin-left: 2cm;
}


table.borrower_display {
    margin: auto;
    text-align: center;
}


tr.borrower_display {
    padding: 3mm 0mm;
}


th {
    padding: 3mm;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

td {
    padding: 2mm 3mm;
}


div.name {
    padding: 2mm 0mm;
}


div.SubButt {
    padding: 2mm 7mm;
}
